<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Offer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/home">Home</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a sec:authorize="hasRole('ADMIN')" class="nav-item nav-link text-dark" href="/add">Add Entity list</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/all">All Entity list</a>
            </li><li class="nav-item">
            <a class="nav-item nav-link text-dark" href="/allUserOffers/user"> <strike>All Offers of User</strike></a>
        </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark " href="users/profile">Profile</a>
            </li>


        </ul>

    </div>
</nav>
<div class="container mt-5" >
    <h2>Add Brand</h2>
    <form th:action="@{/brands/add}" th:object="${brandModel}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" th:errorclass="is-invalid" >
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error
                message</small>
        </div>


        <!--        <div class="form-group">-->
        <!--            <label for="created">Created:</label>-->
        <!--            <input type="datetime-local" class="form-control" id="created" name="created" th:field="*{created}" >-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <label for="modified">Modified:</label>-->
        <!--            <input type="datetime-local" class="form-control" id="modified" name="modified" th:field="*{modified}" >-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <label for="modelId">Model ID:</label>-->
        <!--            <input type="text" class="form-control" id="modelId" name="modelId" th:field="*{modelId}" >-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <label for="userId">User ID:</label>-->
        <!--            <select class="form-control" id="userId" name="transmission" th:field="*{userId}" th:each="users: ${allUsers}" >-->
        <!--                <option value=${users.id}>${users.name}</option>-->
        <!--                -->
        <!--                &lt;!&ndash; Add other transmission types as needed &ndash;&gt;-->
        <!--            </select>-->
        <!--        </div>-->
        <button type="submit" class="btn btn-primary">Add Brand</button>
    </form>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
