<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Select</title>
</head>
<div >
    <div >
        <ul class="list-group-horizontal-xl">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brands/add">Add Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/models/add">Add Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/add">Add Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/users/add">Add User</a>
            </li><li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/userRoles/add">Add UserRoles</a>
            </li>

        </ul>
    </div>
</div>