<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Offer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>Add Offer</h2>
    <form th:action="@{/offers/add}" th:object="${addOfferDto}" method="post">
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" th:field="*{description}" >
        </div>

        <div class="form-group">
            <label for="usersId">Select User:</label>
            <select class="form-control" id="usersId" name="usersId" th:field="*{userId}">
                <option th:each="user : ${allUsersX}" th:value="${user.id}" th:text="${user.userName}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="modelId">Select Model:</label>
            <select class="form-control" id="modelId" name="modelId" th:field="*{modelId}">
                <option th:each="model : ${allModelsX}" th:value="${model.id}" th:text="${model.name}"></option>
            </select>
        </div>


        <div class="form-group">
            <label for="imageURL">Image URL:</label>
            <input type="text" class="form-control" id="imageURL" name="imageURL" th:field="*{imageURL}" >
        </div>
        <div class="form-group">
            <label for="mileage">Mileage:</label>
            <input type="number" class="form-control" id="mileage" name="mileage" th:field="*{mileage}" >
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price" th:field="*{price}" >
        </div>
        <div class="form-group">
            <label for="transmission">Transmission:</label>
            <select class="form-control" id="transmission" name="transmission" th:field="*{transmission}" >
                <option value="AUTOMATIC">Automatic</option>
                <option value="MANUAL">Manual</option>
            </select>
        </div>
        <div class="form-group">
            <label for="engine">Transmission:</label>
            <select class="form-control" id="engine" name="engine" th:field="*{engine}" >
                <option value="GASOLINE">GASOLINE</option>
                <option value="DIESEL">DIESEL</option>
                <option value="ELECTRIC">ELECTRIC</option>
                <option value="HYBRID">HYBRID</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" name="year" th:field="*{year}" >
        </div>
        <div class="form-group">
            <label for="created">Created:</label>
            <input type="datetime-local" class="form-control" id="created" name="created" th:field="*{created}" >
        </div>
        <div class="form-group">
            <label for="modified">Modified:</label>
            <input type="datetime-local" class="form-control" id="modified" name="modified" th:field="*{modified}" >
        </div>

<!--        <div class="form-group">-->
<!--            <label for="modelId">Model ID:</label>-->
<!--            <input type="text" class="form-control" id="modelId" name="modelId" th:field="*{modelId}" >-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="userId">User ID:</label>-->
<!--            <select class="form-control" id="userId" name="transmission" th:field="*{userId}" th:each="users: ${allUsers}" >-->
<!--                <option value=${users.id}>${users.name}</option>-->
<!--                -->
<!--                &lt;!&ndash; Add other transmission types as needed &ndash;&gt;-->
<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Add Offer</button>
    </form>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
