<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Role</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8gBRd5V5uUGhFmMbGDAWdWIXLlObe"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>Add User Role</h2>
    <form th:action="@{/userRoles/add}" th:object="${addUserRoleDto}" method="post">
        <div class="form-group">
            <label for="role">User Role:</label>
            <input type="text" class="form-control" id="role" th:field="*{role}" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Add User Role</button>
    </form>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
