<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Offers</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>All Brands</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Price</th>


        </tr>
        </thead>
        <tbody>
        <!-- list -->
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.name}"></td>


            <td>
                <!-- Add actions as needed, e.g., details, edit, delete -->
                <a th:href="@{/brands/details/{name}(name=${brand.name})}">Details</a>
                <a th:href="@{/brands/edit/{name}(name=${brand.name})}">Edit</a>
                <a th:href="@{/brands/remove/{name}(name=${brand.name})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
