<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>All Models</title>
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>All Models</h2>
    <form th:action="@{/models/all}" method="get">
        <label for="brandFilter">Filter by Brand:</label>
        <select id="brandFilter" name="brandFilter">
            <option value="">All Brands</option>
            <th:block th:each="brand : ${allBrands}">
                <option th:value="${brand.name}" th:text="${brand.name}"></option>
            </th:block>
        </select>
        <label for="categoryFilter">Filter by Category:</label>
        <select id="categoryFilter" name="categoryFilter">
            <option value="">All Categories</option>
            <!-- Add options dynamically based on available categories -->
            <th:block th:each="category : ${T(com.example.springdataforum.Constans.CategoryOfVehicles).values()}">
                <option th:value="${category}" th:text="${category}"></option>
            </th:block>
        </select>
        <button type="submit">Apply Filter</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="model : ${models}">
            <td th:text="${model.name}"></td>

            <td>
                <!-- Add actions as needed, e.g., details, edit, delete -->
                <a th:href="@{/models/details/{name}(name=${model.name})}">Details</a>
                <a th:href="@{/models/edit/{name}(name=${model.name})}">Edit</a>
                <a th:href="@{/models/remove/{name}(name=${model.name})}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
