<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User Roles</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8gBRd5V5uUGhFmMbGDAWdWIXLlObe"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>All User Roles</h2>
    <ul class="list-group">
        <li th:each="userRole : ${userRoles}" class="list-group-item" th:text="${userRole.role}"></li>
    </ul>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
