<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>All Models</title>
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>All Models</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="model : ${models}">
            <td th:text="${model.name}"></td>

            <td>
                <!-- Add actions as needed, e.g., details, edit, delete -->
                <a th:href="@{/models/details/{name}(name=${model.name})}">Details</a>
                <a th:href="@{/models/edit/{name}(name=${model.name})}">Edit</a>
                <a th:href="@{/models/remove/{name}(name=${model.name})}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
