<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Offers</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>All Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Firstname</th>


        </tr>
        </thead>
        <tbody>
        <!-- list -->
        <tr th:each="user : ${usersInfos}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.firstName}"></td>

            <td>

                <a th:href="@{/users/details/{username}(username=${user.userName})}">Details</a>
                <a th:href="@{/users/update/{username}(username=${user.userName})}">Edit</a>
                <a th:href="@{/users/remove/{username}(username=${user.userName})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
