<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
    <h2>Brand Details</h2>
    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9" th:text="${brandDetails.name}"></dd>


        <dt class="col-sm-3">Created:</dt>
        <dd class="col-sm-9" th:text="${brandDetails.created}"></dd>

        <dt class="col-sm-3">Modified:</dt>
        <dd class="col-sm-9" th:text="${brandDetails.modified}"></dd>
    </dl>
    <a class="btn btn-primary" th:href="@{/brands/all}">Back to All Brands</a>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>