<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Role Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8gBRd5V5uUGhFmMbGDAWdWIXLlObe"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2>User Role Details</h2>
    <p th:text="${userRoleDetails.role}"></p>
</div>
</body>
</html>
