<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offer Details</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>
<div class="container mt-5">
  <h2>Offer Details</h2>
  <dl class="row">
    <dt class="col-sm-3">User Name:</dt>
    <dd class="col-sm-9" th:text="${userDetails.userName}"></dd>

    <dt class="col-sm-3">First Name:</dt>
    <dd class="col-sm-9" th:text="${userDetails.firstName}"></dd>

    <dt class="col-sm-3">Last Name:</dt>
    <dd class="col-sm-9" th:text="${userDetails.lastName}"></dd>

    <dt class="col-sm-3">Role:</dt>
    <dd class="col-sm-9" th:text="${userDetails.role.role}"></dd>

    <dt class="col-sm-3">Image URL:</dt>
    <dd class="col-sm-9" th:text="${userDetails.imageURL}"></dd>


    <dt class="col-sm-3">Created:</dt>
    <dd class="col-sm-9" th:text="${userDetails.created}"></dd>

    <dt class="col-sm-3">Modified:</dt>
    <dd class="col-sm-9" th:text="${userDetails.modified}"></dd>
  </dl>
  <a class="btn btn-primary" th:href="@{/offers/all}">Back to All Offers</a>
</div>

</body>
<footer th:replace="fragments/footer"/>
</html>
