<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/home">Home</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a sec:authorize="hasRole('ADMIN')" class="nav-item nav-link text-dark" href="/add">Add Entity list</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark " href="offers/add">Add Offer</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/all">All Entity list</a>
            </li><li class="nav-item">
            <a class="nav-item nav-link text-dark" href="/allUserOffers/user">  <strike>All Offers of User</strike></a>
        </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark " href="users/profile">Profile</a>
            </li>


        </ul>

    </div>
</nav>
<body class="d-flex flex-column h-100">
<form th:action="@{/home}" method="get">
    <label for="brandFilter">Filter by Brand:</label>
    <select id="brandFilter" name="brandFilter">
        <option value="">All Brands</option>
        <th:block th:each="brand : ${allBrands}">
            <option th:value="${brand.name}" th:text="${brand.name}"></option>
        </th:block>
    </select>
    <label for="priceFilter">Price </label>
    <input id="priceFilter" name="priceFilter" type="text" >

    <button type="submit">Apply Filter</button>
</form>
<main class="flex-shrink-0">
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Loop through all offers and create a card for each -->


            <div th:each="offer : ${allOffers}" class="col">
                <div class="card">
                    <img th:src="${offer.imageURL}" class="card-img-top" alt="Offer Image" height="300" >
                    <div class="card-body">
                        <h5 class="card-title" th:text="${offer.model.name}"></h5>
                        <p class="card-text">
                            <strong>Brand:</strong> <span th:text="${offer.model.brand.name}"></span><br>
                            <strong>Year:</strong> <span th:text="${offer.year}"></span><br>
                            <strong>Mileage:</strong> <span th:text="${offer.mileage}"></span><br>
                            <strong>Price:</strong> <span th:text="${offer.price}"></span><br>
                            <strong>Posted by:</strong><a th:href="@{/users/details/{userName}(userName=${offer.user.userName})}" class="btn btn-outline-secondary btn-circle" style="margin-left: 10px" th:text="${offer.user.userName}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                            <!-- Add more details as needed -->
                        </p>
                        <div class="d-flex justify-content-end align-items-center">
                            <a th:href="@{/offers/details/{id}(id=${offer.id})}" class="btn btn-primary mr-2">View Details</a>
                            <a th:href="@{/models/details/{name}(name=${offer.model.name})}" class="btn btn-primary mr-2" style="margin-left: 10px">About model</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
