<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Remove Offer</title>
</head>
<body>

<div class="container mt-5">
  <h2>Remove ЩOffer</h2>
  <form th:action="@{/offers/remove}" method="post">
    <div class="form-group">
      <label for="offerDescription">Offer:</label>
      <input type="text" class="form-control" id="offerDescription" name="offerDescription" th:value="${offerDescription}" >
    </div>
    <button type="submit" class="btn btn-danger">Remove Offer</button>
  </form>
</div>

</body>
</html>
